.header {
    background: $off-black;
    /*background-image: inline('img.jpg');*/
    color: white;
    margin-bottom: $xl-size;
    padding: $m-size 0;
    border-radius: 3px;
}

.header__title {
    font-size: $l-size;
    margin: 0;
}

.header__subtitle {
    color: $off-white;
    font-size: $m-size;
    font-weight: 500;
    margin: 0;
}
